  <h1>Surfer num</h1>
  <form action="/profile" method="post" enctype="multipart/form-data"> 
      <div class="form-profile">
       
          <input type="file" name="user-image" class="form-control-file" />
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>

    <a href="/movies/{{id}}/edit" class="btn btn-primary">Edit</a>